@main("Welcome to Play") {
<div>
 For list user, you should target http://localhost:9000/accounts <br/><br/><br/>
 For make money transfer you should target http://localhost:9000/fromAccount/toAccount/ammount<br/>

 <br/><br/>For working example;<br/>

 http://localhost:9000/transfermoney/user1/user2/10<br/>
 <br/><br/><br/>
 I created 3 user account in list.<br/><br/>
 I didn't make database connection etc. My main idea create rest api and runnable jar file for docker structure.
 I am mainly using for spring boot for my development. Since it can't be a spring boot. I try play framework.
 I didn't make validation etc. I didn't find time. This is what I can do in a couple of hours. (Learning Play and write some code)

</div>

}

